<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="universitylife.com.housemaster" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="q1ATuG6Ju9jfk0JF9wAvcP3Qnc060gTFBbg8MoXz" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="TMbRe5o5wajxErJ3akzQmnvaQlBxuzg4LGc2CWSd" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginForm"
            android:label="@string/title_activity_sign_in" >
        </activity>
        <activity
            android:name=".SignUpForm"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".SearchForm"
            android:label="@string/title_activity_search_form" >
        </activity>
    </application>

</manifest>
